{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ТОВАР</th>
      <th scope="col"></th>
      <th scope="col">ЦЕНА</th>
      <th scope="col">КОЛИЧЕСТВО</th>
        <th scope="col">ИТОГО</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <td scope="row">{{ item.product.title }}</td>
          <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
          <td>{{ item.product.price }} руб.</td>
          <td>{{ item.qty }}</td>
            <td>{{ item.final_price }} руб.</td>
        </tr>
    {% endfor %}
        <tr>
          <td colspan="2"></td>
          <td>Итого:</td>
          <td>{{ cart.total_products }}</td>
          <td><strong>{{ cart.final_price }} руб.</strong></td>
        </tr>
  </tbody>
</table>
<hr>
<div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center mb-4">Оформление заказа</h3>
                <div class="card rounded-form mb-4">
                    <div class="card-body">
<form action="{% url 'make_order' %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-success btn-block btn-custom mb-3" values="Оформить заказ">
</form>
                    </div>
                </div>
            </div>
</div>
{% endblock content %}
